.Regist {
    .FooterTop {
        margin-bottom: 0;
    }
    height: 100%;
    .Header {
        margin-bottom: 0;
    }
    .registr-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
