.RegistrForm2 {
    .registr2-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            width: 40%;
        }

        h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 75px;
        }
        form {
            width: 100%;

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 21px;
                text-align: center;
                color: #787993;
            }

            .flexitem {
                display: flex;
                .kalta-kod {
                    width: 80px;
                    padding-left: 20px;
                    padding-right: 0;
                }
                .katta-kod {
                    min-width: 77%;
                    margin-left: 15px;
                }
            }

            h4 {
                font-size: 12px;
                line-height: 14px;
                margin: 40px 0;
                color: #304FFF;
                text-align: left;
            }

            .prev-btn {
                background: #FFFFFF;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.279127);
                border-radius: 5px;
                padding: 17px 35px;
                outline: none;
                border: none;
                margin-right: 20px;
            }

            .flexxx {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 55px;

            }

            input {
                background: #FFFFFF;
                border: 1px solid rgba(151, 151, 151, 0.482592);
                box-sizing: border-box;
                border-radius: 5px;
                padding: 20px 27px;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 23px;
                text-align: center;
                color: #C7C7C7;
                margin-bottom: 26px;
                width: 100%;
                text-align: left;
                outline: none;
            }
            .pol-code {
                background: #41D481;
                border-radius: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 21px;
                text-align: center;
                color: #FFFFFF;
                padding: 20px;
                display: block;
                outline: none;
                border: none;
                cursor: pointer;
                width: 55%;
            }

            .ili {
                margin-bottom: 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    border: 1px solid #979797;
                    background-color: #979797;
                    height: 1px;
                    width: 40%;
                }
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #787993;
                }

                
            }
            .voyti {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #4E72CA;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
