.Section4Card {
    border-bottom: 1px solid rgba(182, 202, 251, 0.606827);

    .section4-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .card {
            width: 265px;
            height: 280px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            cursor: pointer;

            img {
                border-radius: 7px;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                -ms-border-radius: 7px;
                -o-border-radius: 7px;
                margin-bottom: 11px;
            }

            span {
                display: block;
            }

            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }

            .card-date {
                margin-top: 7px;
                margin-bottom: 7px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #4A4A4A;
            }

            .card-price {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
        }
    }
}
